@*@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@
@model galante.se.Business.IBook

<h2 style="margin-top:100px;">Index</h2>
<p>
    Författare: @Model.Author <br />
    Titel: @Model.Title <br />
</p>
